:root {
  --font: "Open Sans", sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #f06c48;
  --text: #000;
  --text-secondary-color: #5b5b5e;
  --white-color: #fff;
  --seporator-color: #d4d6e0;
}

body {
  font-family: "Open Sans", sans-serif;
}
